# ignore all files
*
# but include directories
!*/

# git
!/**/.gitkeep
!/.gitignore

# github
!/.github/**

# code
!/*.c
!/*.s

# build
!/Makefile

# docs
!/*.md

# docker
!/Dockerfile
!/docker-compose.yml

# misc
!/.editorconfig
!/LICENSE
